:root {
  --btn-primary-blue: rgb(0, 90, 205);
  --btn-primary-hover: rgb(255, 255, 255);
  --btn-secondary-bg: rgb(255, 255, 255);
  --btn-secondary-border: rgb(0, 191, 70);
  --btn-secondary-hover-bg: rgb(0, 200, 0);
  --btn-secondary-hover-text: rgb(255, 255, 255);
  --btn-underline-border: rgb(63, 136, 152);
  --btn-underline-hover: rgb(206, 89, 0);
  --btn-disabled-bg: rgb(180, 180, 180);
  --btn-disabled-text: rgb(255, 255, 255);
  --btn-disabled-border: rgb(102, 95, 95);
  --input-wrapper-border: rgb(180, 180, 180);
  --input-wrapper-focus: rgb(0, 90, 205);
  --input-wrapper-error: rgb(255, 10, 10);
  --input-wrapper-bg: rgb(255, 255, 255);
  --input-text: rgb(0, 0, 0);
  --label-inactive: rgb(180, 180, 180);
  --dots-middle: rgb(0, 0, 0);
  --dots-outer: rgb(50, 50, 50);
  --spiner-top-border: rgb(0, 0, 0);
  --spinner-bg: rgb(100, 100, 100);
}
